.container{
	width: 50%;
	margin-top: 2%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}

ul li.todo-done {
    color: gray;
    text-decoration: line-through;
}

.list-group-item button{
	display: none;
}

.list-group-item:hover button{
	display: inline-block;
}

#clearCompleted{
	float: right;
}

.buttonX{
	float: right;
	font-size: 10px;
	margin-top: -4px;
}